Server/Cybersecurity/Cybersecurity.API/bin/Debug/net6.0/Cybersecurity.API.dll
Server/Cybersecurity/Cybersecurity.API/bin/Debug/net6.0/Cybersecurity.API.exe
Server/Cybersecurity/Cybersecurity.API/bin/Debug/net6.0/Cybersecurity.API.pdb
Server/Cybersecurity/Cybersecurity.API/bin/Debug/net6.0/Cybersecurity.Database.dll
Server/Cybersecurity/Cybersecurity.API/bin/Debug/net6.0/Cybersecurity.Database.pdb
Server/Cybersecurity/Cybersecurity.API/obj/Cybersecurity.API.csproj.nuget.dgspec.json
Server/Cybersecurity/Cybersecurity.API/obj/Cybersecurity.API.csproj.nuget.g.props
Server/Cybersecurity/Cybersecurity.API/obj/project.assets.json
Server/Cybersecurity/Cybersecurity.API/obj/project.nuget.cache
Server/Cybersecurity/Cybersecurity.API/obj/project.packagespec.json
Server/Cybersecurity/Cybersecurity.API/obj/rider.project.restore.info
Server/Cybersecurity/Cybersecurity.API/obj/staticwebassets.pack.sentinel
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/apphost.exe
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.AssemblyInfo.cs
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.assets.cache
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.csproj.AssemblyReference.cache
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.csproj.CoreCompileInputs.cache
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.csproj.FileListAbsolute.txt
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.dll
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.GeneratedMSBuildEditorConfig.editorconfig
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.genruntimeconfig.cache
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.MvcApplicationPartsAssemblyInfo.cs
Server/Cybersecurity/Cybersecurity.API/obj/Debug/net6.0/Cybersecurity.API.pdb
Server/Cybersecurity/Cybersecurity.Database/bin/Debug/net6.0/Cybersecurity.Database.dll
Server/Cybersecurity/Cybersecurity.Database/bin/Debug/net6.0/Cybersecurity.Database.pdb
Server/Cybersecurity/Cybersecurity.Database/obj/Cybersecurity.Database.csproj.nuget.dgspec.json
Server/Cybersecurity/Cybersecurity.Database/obj/Cybersecurity.Database.csproj.nuget.g.props
Server/Cybersecurity/Cybersecurity.Database/obj/project.assets.json
Server/Cybersecurity/Cybersecurity.Database/obj/project.nuget.cache
Server/Cybersecurity/Cybersecurity.Database/obj/project.packagespec.json
Server/Cybersecurity/Cybersecurity.Database/obj/rider.project.restore.info
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.assets.cache
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.csproj.AssemblyReference.cache
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.csproj.CoreCompileInputs.cache
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.csproj.FileListAbsolute.txt
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.dll
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.GeneratedMSBuildEditorConfig.editorconfig
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.genruntimeconfig.cache
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/Cybersecurity.Database.pdb
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/ref/Cybersecurity.Database.dll
Server/Cybersecurity/Cybersecurity.Database/obj/Debug/net6.0/refint/Cybersecurity.Database.dll
